<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ramzi.eljabali.aidlmockapp">

    <permission
        android:name="ramzi.eljabali.aidlmockapp.permission.BIND_MY_AIDL_SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ramzi.eljabali.aidlmockapp.permission.BIND_MY_AIDL_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AidlMockApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AidlMockApp">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="content"
                    android:pathPrefix="/path/to/content"
                    android:scheme="example" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyAidlService"
            android:exported="true"
            android:permission="ramzi.eljabali.aidlmockapp.permission.BIND_MY_AIDL_SERVICE">
            <intent-filter>
                <action android:name="ramzi.eljabali.aidlmockapp.MyAidlService" />
            </intent-filter>
        </service>
    </application>
</manifest>
